
/*** COLORS ***/
$black: black;
$red: #a91d3c;
$white: white;
$greytext: #999;

$headfont: "museo-slab",serif;
$breadfont: "Helvetica Neue",Helvetica, Sans-serif;

/*** MIXINS ***/
@mixin prefixed($name, $argument) {
  #{$name}: $argument;
  -webkit-#{$name}: $argument;
  -ms-#{$name}: $argument;
  -moz-#{$name}: $argument;
  -o-#{$name}: $argument;
}





html { font-size: 80%; }
body { font-family: $breadfont; font-size: 100%; }

h1,.h1 { font-size: 2.25em; }
h2,.h2 { font-size: 1.9em; }
h3,.h3 { font-size: 1.5em; }
h4,.h4 { font-size: 1.1em; }
h5,.h5 { font-size: 0.9em; }
h6,.h6 { font-size: 0.75em; }

a { color: $red; }



@media (min-width: 768px){
  body { font-size: 100%; }
  .jumbotron { padding: 5% 0; }
}
@media (min-width: 992px){
  body { font-size: 100%; }
}
@media (min-width: 1200px){
  body { font-size: 110%; }
}




/*** LAYOUT SPECIFICS ***/

#site {



}
